{% extends "layout.html" %}

{% block content %}
<h2>All Bookings</h2>

<table border="1">
<tr>
<th>Name</th>
<th>Service</th>
<th>Location</th>
<th>Branch</th>
<th>Date</th>
<th>Time</th>
<th>Purpose</th>
<th>Action</th>
</tr>

{% for booking in bookings %}
<tr>
<td>{{ booking[1] }}</td>
<td>{{ booking[2] }}</td>
<td>{{ booking[3] }}</td>
<td>{{ booking[4] }}</td>
<td>{{ booking[5] }}</td>
<td>{{ booking[6] }}</td>
<td>{{ booking[7] }}</td>
<td><a href="/delete/{{ booking[0] }}">Delete</a></td>
</tr>
{% endfor %}

</table>

<br>
<a href="/logout">Logout</a>
{% endblock %}